In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Barrow,71.2906,-156.7887,-2.20,78,90,11.50,US,2021-02-06 20:42:46
1,1,Necochea,-38.5473,-58.7368,69.01,64,0,4.00,AR,2021-02-06 20:46:57
2,2,Atuona,-9.8000,-139.0333,80.31,78,100,21.94,PF,2021-02-06 20:46:48
3,3,Nanortalik,60.1432,-45.2371,21.69,80,0,6.64,GL,2021-02-06 20:46:46
4,4,Rikitea,-23.1203,-134.9692,77.95,72,100,11.56,PF,2021-02-06 20:46:57

In [6]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps =[]
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?

ValueError: could not convert string to float: ''

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Atuona,-9.8000,-139.0333,80.31,78,100,21.94,PF,2021-02-06 20:46:48
4,4,Rikitea,-23.1203,-134.9692,77.95,72,100,11.56,PF,2021-02-06 20:46:57
6,6,Kirakira,-10.4544,161.9205,79.14,84,100,7.92,SB,2021-02-06 20:46:57
23,23,Luwuk,-0.9516,122.7875,77.76,71,100,2.06,ID,2021-02-06 20:46:59
25,25,Cantapoy,9.4906,125.4364,78.01,83,98,6.31,PH,2021-02-06 20:47:00
33,33,Tayoltita,24.0833,-105.9333,80.08,17,0,7.70,MX,2021-02-06 20:47:01
34,34,Imbituba,-28.2400,-48.6703,78.80,57,0,14.97,BR,2021-02-06 20:45:08
36,36,Hilo,19.7297,-155.0900,77.00,57,1,4.61,US,2021-02-06 20:44:15
39,39,Boende,-0.2167,20.8667,76.12,71,12,1.43,CD,2021-02-06 20:47:01
42,42,Meulaboh,4.1363,96.1285,76.01,91,75,5.46,ID,2021-02-06 20:47:02

In [27]:
preferred_cities_df.count()

City_ID       154
City          154
Lat           154
Lng           154
Max Temp      154
Humidity      154
Cloudiness    154
Wind Speed    154
Country       152
Date          154
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

<ipython-input-29-6bc1c1457554>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

         City Country  Max Temp      Lat       Lng Hotel Name
2      Atuona      PF     80.31  -9.8000 -139.0333
4     Rikitea      PF     77.95 -23.1203 -134.9692
6    Kirakira      SB     79.14 -10.4544  161.9205
23      Luwuk      ID     77.76  -0.9516  122.7875
25   Cantapoy      PH     78.01   9.4906  125.4364
33  Tayoltita      MX     80.08  24.0833 -105.9333
34   Imbituba      BR     78.80 -28.2400  -48.6703
36       Hilo      US     77.00  19.7297 -155.0900
39     Boende      CD     76.12  -0.2167   20.8667
42   Meulaboh      ID     76.01   4.1363   96.1285

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]   
    except(IndexError):
        print ("Hotel not found... skipping.")

C:\Users\MaazAhmed\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng               Hotel Name
2      Atuona      PF     80.31  -9.8000 -139.0333              Villa Enata
4     Rikitea      PF     77.95 -23.1203 -134.9692           Pension Maro'i
6    Kirakira      SB     79.14 -10.4544  161.9205             SanBiz Lodge
23      Luwuk      ID     77.76  -0.9516  122.7875      Hotel Santika Luwuk
25   Cantapoy      PH     78.01   9.4906  125.4364  Brgy Pili Mountain View
33  Tayoltita      MX     80.08  24.0833 -105.9333   Hotel Rivera Tayoltita
34   Imbituba      BR     78.80 -28.2400  -48.6703     Praia Hotel Imbituba
36       Hilo      US     77.00  19.7297 -155.0900      Hilo Hawaiian Hotel
39     Boende      CD     76.12  -0.2167   20.8667
42   Meulaboh      ID     76.01   4.1363   96.1285                Kost Pria

In [41]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [45]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))